body{
    background-image:url(../image/inscription.jpg);
    background-size:cover;
    background-repeat:no-repeat; 
    background-attachment:fixed;

}

#already {
	float: left;
	margin:5px;
}
h2 {
	display: block;
	margin-right: 100px;
	color: #424458;
}

.cadre {
	position: absolute;
	top: 190px;
	width: 50%;
	left: 26%;
}

#profil, #block {
	margin: 5px;
	display: inline-grid;
}
#block {
	width: 50%;
}
#end table {
	width: 150px;
}

input[type=submit]{
	display: block;
	background-color: black;
	color: white;
	border:none;
	margin-right: auto;
	margin-left: auto;
	width: 100px;
	height: 30px;
	border-radius: 100px;
	margin-top: 10px;
}
input[type=submit]:hover{
	color: red;
}
